<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <h3>Brand:</h3>
      <h1><%= @shoe_brand.title() %> $<%= @shoe_brand.price %></h1>
    </div>
    <br>
    <div class="card">
      <h5>Update Brand</h5>
      <form action="/update_shoe_brand/<%= @shoe_brand.id() %>" method="post">
        <div class="form-group">
          <input type="hidden" name="_method" value="patch">
          <label for="brand_name">Brand Name:</label>
          <input type="text" name="brand_name" id="brand_name" required>
        </div>
        <div class="form_group">
          <label for="brand_price">Brand Price:</label>
          <input type="text" name="brand_price" id="brand_price" required>
        </div>
          <br>
          <button type="submit" class="btn btn-warning">Update Brand</button>
      </form>
    </div>
  </div>
  <br>
  <div class="col-sm-6">
    <div class="card">

      <% if @shoe_brand.shoe_stores().any?() %>
        <h3>Here are all the stores that sell this brand:</h3>

        <ul>
          <% @shoe_brand.shoe_stores().each() do |shoe_store| %>
            <li><%= shoe_store.title() %></li>
          <% end %>
        </ul>

        <% else %>
          <p>There are no stores for this brand yet!</p>
      <% end %>
    </div>
    <br>
    <div class="card">
      <% if @shoe_stores.any?() %>
      <h3>Add stores that sell this brand:</h3>

      <form action="/add_shoe_store/<%= @shoe_brand.id() %>" method="post">
      <input type="hidden" name="_method" value="patch">
      <% @shoe_stores.each() do |shoe_store| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="shoe_store_ids[]" value="<%= shoe_store.id() %>"> <%= shoe_store.title() %>
          </label>
        </div>
      <% end %>

        <button class="btn btn-success" type="submit">Add Stores</button>
      </form>

    <% else %>

        <p>There are no stores yet!</p>

    <% end %>

    </div>
    <br>
    <div class="card">
      <h6><a href="/">Return To Homepage</a></h6>
    </div>
  </div>
</div>
